{% include 'overall_header.html' %}

<form id="banlist_form" action="{{ U_ACTION }}" method="post">
<h2>{{ BANLIST }}</h2>

	<div class="action-bar bar-top">
		<div class="pagination">
			{{ TOTAL_USERS }}
			{% if pagination %}
				{% include 'pagination.html' %}
			{% else %}
				&bull; {{ PAGE_NUMBER }}
			{% endif %}
		</div>
	</div>

	<div class="forumbg forumbg-table">
		<div class="inner">

		<table class="table1" cellspacing="1" id="banlist">
			<thead>
				<tr>
					<th width="5%">#</th>
					<th width="19%">{{ lang('BAN_USERNAME') }}</th>
					<th width="19%">{{ lang('BAN_START_DATE') }}</th>
					<th width="19%">{{ lang('BAN_END_DATE') }}</th>
					<th width="19%">{{ lang('WARN') }}</th>
					<th width="19%">{{ lang('BAN_REASON') }}</th>
				</tr>
			</thead>
			<tbody>
				{% if banlist_row %}
				{% for row in banlist_row %}
				<tr class="{% if row.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
					<td style="text-align: center;">{{ row.ROW_NUMBER }}</td>
					<td style="text-align: center;">{{ row.USERNAME_FULL }}</td>
					<td style="text-align: center;">{{ row.BAN_START }}</td>
					<td style="text-align: center;">{{ row.BAN_END }}</td>
					<td style="text-align: center;">{{ row.WARN }}<br />{% if row.LAST_WARN %}{ lang('LAST_WARN') ~ lang('COLON') }}{{ row.LAST_WARN }}{% endif %}</td>
					<td style="text-align: center;">{{ row.BAN_REASON }}</td>
				</tr>
				{% endfor %}
				{% else %}
				<tr class="bg1">
					<td colspan="6" style="text-align: center;">{{ lang('NO_MEMBERS') }}</td>
				</tr>
				{% endif %}
			</tbody>
		</table>

		</div>
	</div>

	<div class="action-bar bar-bottom">
		<div class="pagination">
			{{ TOTAL_USERS }}
			{% if pagination %}
				{% include 'pagination.html' %}
			{% else %}
				&bull; {{ PAGE_NUMBER }}
			{% endif %}
		</div>
	</div>

</form>

{% include 'overall_footer.html' %}
